body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #000;
    color: white;
    text-align: center;
    padding: 15px;
}

nav {
    background: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 10px;
}

img {
    width: 100%;
    max-width: 300px;
}

footer {
    text-align: center;
    background: #000;
    color: white;
    padding: 10px;
  }
